body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#191d26;
    color:#b9cad6;
}



.main{
    width:170px;
    height:150px;
} 



#mainten-text{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* padding: 30px 0; */
}

#github-link{
    color:#b9cad6;
    text-decoration: none;
    font-size:13px;
    &:hover{
        text-decoration: underline;
    }
    &:active{
        color:#9ef7e9;
    }
}

#github-par{
    position:fixed;
    bottom:0;
}

#toggleButton{
    width:100px;
    height:40px;
    margin-left: 20%;
    margin-top: 7%;
    border: 1px solid #80898f;
    border-radius:7px;
    background-color: #0e1016;
    color:#b9cad6;
    &:hover{
        border: 1px solid #3b9b77;
        color:#3b9b77;
    }
    /* &:active{
        width:105px;
        height:43px;
        border: 1px solid #2c9770;
        background-color: #0c0d13;

    } */
}

