<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Sidebar Extension</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
    <div class="main">
        <p id="mainten-text">Django-Sidebar</p>
        <p id="github-par"><a id="github-link" href="#">Source</a></p>
        <button id="toggleButton">Toggle Extension</button>
    </div>

    <script src="popup.js"></script>
</body>
</html>